.app__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 3rem;
	background: #4ca1af;
}

.app__nav {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

.app__nav li a {
	text-transform: uppercase;
}

.app__nav li+li {
	margin-left: 2rem;
}

.app__search {
	display: flex;
	align-items: center;
	background: transparent;
	padding: 0.25rem;
	padding-left: 0.375rem;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 99px;
	transition: width 0.2s;
	width: calc(2rem + 1px);
	overflow: hidden;
	cursor: pointer;
}

.app__search.open {
	width: 12rem;
}

.app__searchIcon {
	margin-right: 0.375rem;
}

.app__search input {
	background: transparent;
	color: #fff;
	border: none;
	width: 100%;
	padding-right: 0.5rem;
}

.app__title {
	height: 1.5rem;
	width: auto;
	margin: 0;
}

form button {
	display: none;
}

@media (max-width: 550px) {
	.app__header {
		padding: 2rem 1.5rem;
		overflow: hidden;
	}

	.app__nav li:not(.mobile) {
		display: none;
	}

	.app__back + .app__search {
		margin: 0 1rem !important;
	}
}